<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="NodeId" value="1"/>
    <add key="Environment" value="testnet"/>
    <!-- live, testnet -->
    <add key="RpcRequestTimeoutInSeconds" value="15" />
    <add key="Bitcoin_DaemonUrl" value="http://192.168.101.153:8332/" />
    <add key="Bitcoin_DaemonUrl_Testnet" value="http://192.168.101.153:18332/" />
    <add key="Bitcoin_WalletPassword" value="MyWalletPassword" />
    <add key="Bitcoin_RpcUsername" value="MyRpcUsername" />
    <add key="Bitcoin_RpcPassword" value="MyRpcPassword" />
    <add  key="RpcResendTimedOutRequests" value="false" />
    <add key="RpcTimedOutRequestsResendAttempts" value="0"/>
    <add key="RpcDelayResendingTimedOutRequests" value="false"/>
    <add key="RpcUseBase2ExponentialDelaysWhenResendingTimedOutRequests" value="false"/>

  </appSettings>
  <connectionStrings>
    <add name="BlockExplorerDB" connectionString="Server=ARJUN-PC\SQLEXPRESS;Database=NanoBlockExplorer;User Id=sa;Password=sa;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>